.sec1{
    background-color:#2E2F42;
    width: 1440px;
    height: 600px;
}
.solytions{
    color:white;
    font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
width: 496px;
text-align: center;
}